<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleExecutable</key>
  <string>mricrogl</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleVersion</key>
  <string>1.0</string>
  <key>CSResourcesFileMapped</key>
  <true/>
 <key>CFBundleIconFile</key>
 <string>mricrogl.icns</string>
  <key>CFBundleDocumentTypes</key>
    <array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nii</string>
				<string>hdr</string>
				<string>nii.gz</string>
				<string>gz</string>
				<string>voi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>mricrondata.icns</string>
			<key>CFBundleTypeName</key>
			<string>NIFTI</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>NIFT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>MyVolume</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gls</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MRIcroGL script</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>GLSScript</string>
		</dict>
		
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mha</string>
				<string>mhd</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MetaIO</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MetaIO</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>head</string>
				<string>brik</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AFNI</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>AFNI Image</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nrrd</string>
				<string>nhdr</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NRRD</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>NRRD Image</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mgh</string>
				<string>mgz</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MGH</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MGH Image</string>
		</dict>    
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>*</string>
            </array>
            <key>CFBundleTypeMIMETypes</key>
            <array>
                <string>public.item</string>
            </array>
            <key>CFBundleTypeOSTypes</key>
            <array>
                <string>****</string>
            </array>
			<key>CFBundleTypeName</key>
			<string>DICOM</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>DICOM Image</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>public.item</string>
            </array>
            <key>LSTypeIsPackage</key>
            <false/>
            <key>NSDocumentClass</key>
            <string>MONDocumentClass</string>
        </dict>
    </array>
    <key>NSHighResolutionCapable</key>
  	<true/>
</dict>
</plist>);
