<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>


  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleExecutable</key>
  <string>MRIcroGL</string>
  <key>CFBundleName</key>
  <string>MRIcroGL</string>
  <key>CFBundleIdentifier</key>
  <string>www.mricro.com.MRIcroGL</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <key>CFBundleShortVersionString</key>
  <string>1.150909</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>CSResourcesFileMapped</key>
  <true/>
 <key>CFBundleIconFile</key>
 <string>mricrogl.icns</string>
 <key>LSMinimumSystemVersion</key>
 <string>10.6</string> 
  <key>CFBundleDocumentTypes</key>
  <array>
	<dict>
		<key>CFBundleTypeRole</key>
		<string>Viewer</string>
		<key>CFBundleTypeExtensions</key>
		<array>
			<string>nii</string>
			<string>hdr</string>
			<string>nii.gz</string>
			<string>gz</string>
			<string>voi</string>
		</array>
		<key>CFBundleTypeName</key>
		<string>NIfTI</string>
	</dict> 
	<dict>
		<key>CFBundleTypeRole</key>
		<string>Viewer</string>
		<key>CFBundleTypeExtensions</key>
		<array>
			<string>mgh</string>
			<string>mgz</string>
		</array>
		<key>CFBundleTypeName</key>
		<string>MGH</string>
	</dict>
	<dict>
		<key>CFBundleTypeRole</key>
		<string>Viewer</string>
		<key>CFBundleTypeExtensions</key>
		<array>
			<string>nrrd</string>
			<string>nhdr</string>
		</array>
		<key>CFBundleTypeName</key>
		<string>NRRD</string>
	</dict> 
	<dict>
		<key>CFBundleTypeRole</key>
		<string>Viewer</string>
		<key>CFBundleTypeExtensions</key>
		<array>
			<string>head</string>
			<string>brik</string>
		</array>
		<key>CFBundleTypeName</key>
		<string>AFNI</string>
	</dict> 
	<dict>
		<key>CFBundleTypeRole</key>
		<string>Viewer</string>
		<key>CFBundleTypeExtensions</key>
		<array>
			<string>mha</string>
			<string>mhd</string>
		</array>
		<key>CFBundleTypeName</key>
		<string>MetaIO</string>
	</dict> 
	<dict>
		<key>CFBundleTypeRole</key>
		<string>Viewer</string>
		<key>CFBundleTypeExtensions</key>
		<array>
			<string>gls</string>
		</array>
		<key>CFBundleTypeName</key>
		<string>MRIcroGL script</string>
	</dict>  
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Viewer</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>*</string>
      </array>
      <key>CFBundleTypeOSTypes</key>
      <array>
        <string>fold</string>
        <string>disk</string>
        <string>****</string>
      </array>
    </dict>
  </array>
  <key>NSHighResolutionCapable</key>
  <true/>
</dict>
</plist>
